/* Section heading underline */
.section-title-underline {
  color: #000;
}

.section-title-underline span {
  display: inline-block;
  border-bottom: 4px solid #51be78;
}

.section-title-underline.style-2 {
  color: #fff;
}

.section-title-underline.style-2 span {
  border-color: #51be78;
}

/* Recruiters section */
#recruiters-section .logo-slider-img{
  max-height: 10rem;  
}

/* Testimonials Section */
#testimonials-section .testimony-card{  
  width: 18rem;
}